<?xml version="1.0"?>
<!--
/**
 * Le Site custom slider
 */
-->
<config>
    <modules>
        <Lesite_Slider>
            <version>0.1.1</version>
        </Lesite_Slider>
    </modules>
    <frontend>
        <routers>
            <slider>
                <use>standard</use>
                <args>
                    <module>Lesite_Slider</module>
                    <frontName>slider</frontName>
                </args>
            </slider>
        </routers>
    </frontend>
    <admin>
        <routers>
            <slider>
                    <use>admin</use>
                    <args>
                            <module>Lesite_Slider</module>
                            <frontName>slider</frontName>
                    </args>
            </slider>
        </routers>
    </admin>
    <adminhtml>
        <menu>
                <cms>
                    <children>
                        <slider translate="title" module="slider">
                            <title>Slider Management</title>
                            <action>slider/adminhtml_slider</action>
                            <children>
                                <slider translate="title" module="slider">
                                    <title>Sliders</title>
                                    <action>slider/adminhtml_slider</action>
                                </slider>
                                <settings translate="title" module="slider">
                                    <title>Settings</title>
                                    <action>adminhtml/system_config/edit/section/slider</action>
                                    <sort_order>20</sort_order>
                                </settings>
                            </children>
                        </slider>
                     </children>
                </cms>
         </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <cms>
                            <children>
                                <slider translate="title" module="slider">
                                    <title>Slider</title>
                                </slider>
                            </children>
                        </cms>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <slider translate="title" module="slider">
                                            <title>Slider</title>
                                        </slider>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Lesite_Slider>
                    <files>
                        <default>Lesite_Slider.csv</default>
                    </files>
                </Lesite_Slider>
            </modules>
        </translate> 
        <layout>
            <updates>
                <slider>
                    <file>slider.xml</file>
                </slider>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <slider>
            <general>
                <enabled>1</enabled>
                <enable_jquery>1</enable_jquery>
                <cat_path_in_prod_url>1</cat_path_in_prod_url>
                <max_upload_filesize>2097152</max_upload_filesize>
                <allowed_extensions>jpg,jpeg,png,gif</allowed_extensions>
                <interdict_areas_overlap>1</interdict_areas_overlap>
                <slide_effect>slide</slide_effect>
                <crossfade>2</crossfade>
                <slide_speed>350</slide_speed>
                <fade_speed>350</fade_speed>
                <slide_play>5000</slide_play>
                <slide_pause>2500</slide_pause>        
            </general>
        </slider>
    </default>     
    <global>
        <models>
            <slider>
                <class>Lesite_Slider_Model</class>
                <resourceModel>slider_mysql4</resourceModel>
            </slider>
            <slider_mysql4>
                <class>Lesite_Slider_Model_Mysql4</class>
                <entities>
                    <slider>
                        <table>slider</table>
                    </slider>
                    <slide>
                        <table>slider_slide</table>
                    </slide>
                    <slide_store>
                        <table>slider_slide_store</table>
                    </slide_store>
                </entities>
            </slider_mysql4>
        </models>
        <resources>
            <slider_setup>
                <setup>
                    <module>Lesite_Slider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slider_setup>
            <slider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </slider_write>
            <slider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </slider_read>
        </resources>
        <blocks>
            <slider>
                <class>Lesite_Slider_Block</class>
            </slider>
        </blocks>
        <helpers>
            <slider>
                <class>Lesite_Slider_Helper</class>
            </slider>
        </helpers>
    </global>
</config>