<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Lesite_Erp>
            <version>0.1.0</version>
        </Lesite_Erp>
    </modules>
    <global>
        <models>
            <lesite_erp>
                <class>Lesite_Erp_Model</class>
                <resourceModel>erp_resource</resourceModel>
            </lesite_erp>
            <erp_resource>
                <class>Lesite_Erp_Model_Resource</class>
                <entities>
                    <product_sync>
                        <table>erp_product_sync</table>
                    </product_sync>
                    <inventory_sync>
                        <table>erp_inventory_sync_sync</table>
                    </inventory_sync>
                    <order_sync>
                        <table>erp_order_sync</table>
                    </order_sync>
                </entities>
            </erp_resource>
        </models>
        <resources>
            <erp_setup>
                <setup>
                    <module>Lesite_Erp</module>
                    <class>Lesite_Erp_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </erp_setup>    
        </resources>
    </global>
    <frontend>
        <routers>
            <lesite_erp>
                <use>standard</use>
                <args>
                    <module>Lesite_Erp</module>
                    <frontName>erp</frontName>
                </args>
            </lesite_erp>
        </routers>   
    </frontend>
  </config>