<?xml version="1.0"?>
<config>
    <modules>
        <Lesite_Local>
            <version>0.1.0</version>
        </Lesite_Local>
    </modules>
    <global>
        <models>
            <lesite>
                <class>Lesite_Local_Model</class>
            </lesite>
        </models>
        <helpers>
            <lesite>
                <class>Lesite_Local_Helper</class>
            </lesite>
        </helpers>
        <blocks>
            <lesite>
                <class>Lesite_Local_Block</class>
            </lesite>
        </blocks>
        <resources>
            <lesite_setup>
                <setup>
                    <module>Lesite_Local</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </lesite_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <lesite>
                <use>standard</use>
                <args>
                    <module>Lesite_Local</module>
                    <frontName>lesite</frontName>
                </args>
            </lesite>
        </routers>
        <translate>
            <modules>
                <Lesite_Local>
                    <files>
                        <default>Lesite_Local.csv</default>
                    </files>
                </Lesite_Local>
            </modules>
        </translate>
        <layout>
            <updates>
                <lesite>
                    <file>lesite.xml</file>
                </lesite>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <lesite after="Mage_Adminhtml">Lesite_Local_Adminhtml</lesite>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Lesite_Local>
                    <files>
                        <default>Lesite_Local.csv</default>
                    </files>
                </Lesite_Local>
            </modules>
        </translate>
        <layout>
            <updates>
                <lesite>
                    <file>lesite.xml</file>
                </lesite>
            </updates>
        </layout>
    </adminhtml>
    <default>
    </default>
</config>
